<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/MyEase (1)1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>MyEase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./CSS/style2.css" class="css">
 
    <link rel="stylesheet" href="./CSS/about.css">
    <link rel="stylesheet" href="/JS/about.js">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
</head>
<body>
    <div class="clip">
<header>
    <div class="nav">
<span class="logo"> </span>
       <a  class="b" href=""> <img   src="./img/MyEase (1).png"  class="logo1" alt=""></a> 
       <nav>
 
        <a href="./index.html">HOME</a>
        <a href="#catagory">Catagory</a>
        <a href="./about.html">About Us</a>
        <div id="indicator"></div>
      </nav>
 
    <button class="button-38"   onClick="parent.location='./login.html'" role="button">Login</button>
    <button class="button-39" onClick="parent.location='./login.html'" role="button">Sign Up</button>
</div>
</header>
 
<!-- text -->


<button class="restart"> <p class="text"> <span class="text__first"><span class="text__word">One-Stop-Shop For</span><span class="text__first-bg"></span></span><br/><span class="text__second"><span class="text__word">Your Any Work</span><span class="text__second-bg"></span></span></p>
 </button>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script><script  src="./JS/script.js"></script>





  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <div class="wrapper">
        <div class="search-input">
          <a href="" target="_blank" hidden></a>
          <input type="text1" style="border-radius: 74px;" placeholder="Type to search...">
          <div class="autocom-box">
            <!-- here list are inserted from javascript -->
          </div>
          <div class="icon"><i class="fas fa-search"></i></div>
        </div>
      </div>
  <!-- partial -->
    <script type="module" src="./JS/js.js"></script>
  

  

<!-- <div class="search">
    <form id="searchFormTop"  class="src" action="" method="get">
  
      <input type="text" class="searchbox" name="q" id="q" placeholder="Search...">
      <span class="search-btn-wrap">
      <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
        </span>
    </form>
  </div> -->

  <button onclick="parent.location='#catagory'" class="button-17" role="button">Get Started</button>

</div>


<img src="./img/my1.png" alt="" class="ill">


<!-- chatbot  -->
<div class="botIcon">
	<div class="botIconContainer">
		<div class="iconInner">
			<i class="fa fa-commenting"  style="position: relative;
      left: 0px;
      top: 2px;" aria-hidden="true"></i>
		</div>
	</div>
	<div class="Layout Layout-open Layout-expand Layout-left">
		<div class="Messenger_messenger">
			<div class="Messenger_header">
				<h4 class="Messenger_prompt">How can we help you?</h4> <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span>
			</div>
			<div class="Messenger_content">
				<div class="Messages">
					<div class="Messages_list"></div>
				</div>
				<form id="messenger">
					<div class="Input Input-blank">
<!-- 							<textarea name="msg" class="Input_field" placeholder="Send a message..."></textarea> -->
						<input name="msg" class="Input_field" placeholder="Send a message...">
						<button type="submit" class="Input_button Input_button-send">
							<div class="Icon">
								<svg viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
										<path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C5.08414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
									</g>
								</svg>
							</div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Chatbot -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'>

 
<!-- partial -->
 </script><script  src="./JS/script.js"></script>



  <main>
    <section id="catagory">
      <h1 class="section__title">
         <span>Select Catagory</span>
      </h1>
      <p class="section__desc">Select the Catagory in which you are suffering.</p>
      <div class="features">
        <div  onclick="parent.location='./ans.html'"  class="feature feature-one">
          <h2 class="feature__title">Government</h2>
          <p class="feature__desc">Aadhar, PAN card, Income Certificates,Birth certificate and more</p>
          <img class="feature__img" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-supervisor.svg" alt="">
        </div>
        <div class="wrapper">
          <div onclick="parent.location='./ans.html'" class="feature feature-two">
            <h2 class="feature__title">Banking</h2>
            <p class="feature__desc">Debit card, Credit card, Correction and more</p>
            <img class="feature__img" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-team-builder.svg" alt="">
          </div>
          <div onclick="parent.location='./ans.html'" class="feature feature-three">
            <h2 class="feature__title">Academics</h2>
            <p class="feature__desc">Career path, Apportunities, Mentors, Internships and more</p>
            <img class="feature__img" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-karma.svg" alt="">
          </div>
        </div>
        <div  onclick="parent.location='./ans.html'" class="feature feature-four">
          <h2 class="feature__title">College</h2>
          <p class="feature__desc">Scolarships,registrations,medical leaves and more</p>
          <img class="feature__img" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-calculator.svg" alt="">
        </div>
      </div>
  
    </section>
  </main>




<!-- pricing   -->
<section class="pricing pt-5 mt-5 mb-5">
  <h1 class="section__title">
    <span>Pricing</span>
 </h1>
 <p class="section__desc">Choose as per your need.</p>

  <div class="container">
     
     
  
      <div class="package-container">
        <div class="packages">
            <div class="pricing-title pb-3"  style="  margin-bottom: 12px;
            " >
              Free
            </div>
          <ul class="list text-center">
            <li>First call with exert is free</li>
            <li>Access all free answers</li>
            <li>Can add more questions</li>
            <li>E-Mail Support</li>
          </ul>
          <a href="#" class="button pricing-button">Start Now</a>
        </div>
        <div class="packages">
          <div class="pricing-title">
              Paid
          </div>                    
          <h2 class="text1">5 RS</h2>
           <ul class="list">
             <li>Step by step Guidence</li>
             <li>Access to all answers</li>
             <li>5 Rs per 5 min </li>
             <li>Can add more questions</li>
            <li>E-mail & Call Support </li>
          </ul>
          <a href="#" class="button pricing-button">Start Now</a>
        </div>
        <div class="packages">
          <div class="pricing-title" style="  margin-bottom: 12px;
        " >
             Monthly
          </div>                   
            <ul class="list">
              <li>Step by step Guidence</li>
              <li>Access to all answers</li>
            <li>Can add more questions</li>
            <li>E-mail & Call Support </li>
          </ul>
          <a href="#" class="button pricing-button">Let's Talk</a>
        </div>
      </div>
    </div> 
</section>
 

 
   
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">        <a   href=""> <img   src="./img/MyEase (1).png"  class="logo1" style="position: relative;top: -1vw; left: -44vw;;" alt=""></a> 
          </span>
        </div>
        <div class="media-icons"  style="  display: flex;
        left: 44vw;
        position: relative;
        top: -5vw;
      " >
          <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
          <a target="on_blank" href=" "><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Links</li>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="{% url 'upload' %}">Submit Query</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Recommended</li>
          <li><a href="{% url 'category' 6 %}">India</a></li>
          <li><a href="{% url 'category' 5 %">Government</a></li>
          <li><a href="{% url 'category' 11 %">People</a></li>
          <li><a href="{% url 'category' 2 %">College</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Legal Info</li>
          <li><a href="{% url 'licence' %}">Licence</a></li>
          <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
          <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Contact</li>
          <li><a target="on_blank" href="tel:+919079680135">+91 9910772433</a></li>
          <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">rajaman78167@gmail.com</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2023 <a href="#">MyEase.</a></span>
      </div>
    </div>
  </footer>

</body>
</html>